{% extends 'base.html' %} {% block conteudo %}

<style></style>

<section id="secao_colecoes" style="text-align: center; justify-items: center">
  <h3 style="margin-bottom: 40px">Coleções</h3>
  <div id="colecoes">
    <div
      class="colecao"
      style="margin-bottom: 24px; margin-right: 24px"
      onclick="busca_favoritos();"
    >
      <h3>Favoritos</h3>
    </div>
    {% for col in colecoes %}
    <div
      class="colecao"
      style="margin-bottom: 24px; margin-right: 24px"
      onclick="busca_colecao('{{ col }}');"
    >
      <h3>{{ col }}</h3>
    </div>
    {% endfor %}
  </div>

  <div id="modais">{% include 'modais.html' %}</div>

  <script>
    function busca_colecao(colecao) {
      $.ajax({
        url: "/colecoes/",
        method: "GET",
        data: {
          colecao: colecao,
        },
        success: function (response) {
          response = JSON.parse(response);
          document.getElementById("modais").innerHTML = response.modal;
          // document.getElementById("modal-colecao").showModal();
          console.log("Dados enviados com sucesso:", response);
        },
        error: function (error) {
          console.error("Erro ao enviar dados:", error);
        },
      });
    }

    function busca_favoritos() {
        $.ajax({
            url: '/colecoes/',
            method: 'GET',
              data: {
                favorito: true
              },
              success: function(response) {
                response = JSON.parse(response)
                document.getElementById('modais').innerHTML = response.modal;
                // document.getElementById('modal-favoritos').showModal();
                console.log('Dados enviados com sucesso:', response);
              },
              error: function(error) {
                console.error('Erro ao enviar dados:', error);
              }
        });
    }
  </script>
</section>

{% endblock %}
