{% extends 'base.html' %} {% block conteudo %}

<style></style>

<section id="secao_colecoes" style="text-align: center; justify-items: center">
  <h1 style="margin-bottom: 40px">Coleções</h1>
  <div id="colecoes">
    <div
      class="colecao"
      style="margin-bottom: 24px; margin-right: 24px"
      onclick="busca_favoritos();"
    >
      <h3>Favoritos</h3>
    </div>
    {% for col in colecoes %}
    <div
      class="colecao"
      style="margin-bottom: 24px; margin-right: 24px"
      onclick="busca_colecao('{{ col }}');"
    >
      <h3>{{ col }}</h3>
    </div>
    {% endfor %}
  </div>

  <div id="modais"></div>
  <div id="modal-imagens">
  </div>
</section>
  <script>
    function busca_colecao(colecao) {
      $.ajax({
        url: "/colecoes/",
        method: "GET",
        data: {
          colecao: colecao,
        },
        success: function (response) {
          response = JSON.parse(response);
          document.getElementById("modais").innerHTML = response.modal;
          // document.getElementById("modal-colecao").showModal();
          console.log("Dados enviados com sucesso:", response);
        },
        error: function (error) {
          console.error("Erro ao enviar dados:", error);
        },
      });
    }

    function busca_favoritos() {
      $.ajax({
        url: '/colecoes/',
        method: 'GET',
          data: {
            favorito: true
          },
          success: function(response) {
            response = JSON.parse(response)
            document.getElementById('modais').innerHTML = response.modal;
            // document.getElementById('modal-favoritos').showModal();
            console.log('Dados enviados com sucesso:', response);
          },
          error: function(error) {
            console.error('Erro ao enviar dados:', error);
          }
      });
    }

    function mostra_imagem(photo) {
      $.ajax({
        url: "/",
        type: "GET",
        data: {img: photo},
        success: function (retorno) {
          retorno = JSON.parse(retorno);
          document.getElementById('modal-imagens').innerHTML = retorno.modal;
          document.getElementById('modal-imagens').classList.remove('esconde');
          
          document.getElementById('modal-img').showModal();
          document.getElementById('modal-img').classList.remove('esconde');
        },
        error: function (retorno) {
          console.log('erro');
          alert('erro ao abrir modal');
        }
  
      });
    }

    function fecha_modal() {
      document.getElementById('modal-imagens').classList.add('esconde');
      document.getElementById('modal-img').close();
    }
    
    function salva_favorito(imagem, favorito) {
      $.when($.ajax({
        url: "/",
        type: "GET",
        data: {favoritar: favorito, imagem: imagem},
        success: function (retorno) {
          retorno = JSON.parse(retorno);
          {% comment %} if (retorno.sucesso) {
            alert('Imagem adicionada nos Favoritos com sucesso!');
          } else {
            alert('Houve um erro ao adicionar aos Favoritos!');
          } {% endcomment %}
        },
        error: function (retorno) {
          console.log('erro');
        }
      })).then(function() {
        mostra_imagem(imagem) 
      })
  
  
      
    }
  </script>


{% endblock %}
