{% extends 'base.html' %} {% load static %} {% block conteudo %}

<div class="grid">
  {% for photo in photos %} {{ photo.archive }}
  <img src="/media/imagens/{{ photo }}" alt="" onclick="mostra_imagem('{{ photo }}')" />
  {% endfor %}
</div>

<div id="modal-imagens">
</div>


<script>
  function mostra_imagem(photo) {
    $.ajax({
      url: "/",
      type: "GET",
      data: {img: photo},
      success: function (retorno) {
        retorno = JSON.parse(retorno);
        document.getElementById('modal-imagens').innerHTML = retorno.modal;
        document.getElementById('modal-imagens').classList.remove('esconde');
        // console.log('sucesso');
        document.getElementById('modal-img').showModal();
        document.getElementById('modal-img').classList.remove('esconde');
      },
      error: function (retorno) {
        console.log('erro');
        alert('erro ao abrir modal');
      }

    });

    // document.getElementById('imagem-modal').src = '/media/imagens/' + photo;
  }

  function fecha_modal() {
    document.getElementById('modal-imagens').classList.add('esconde');
    document.getElementById('modal-img').close();
  }


  function salva_favorito(imagem, favorito) {
    $.ajax({
      url: "/",
      type: "GET",
      data: {favoritar: favorito, imagem: imagem},
      success: function (retorno) {
        retorno = JSON.parse(retorno);
        {% comment %} if (retorno.sucesso) {
          alert('Imagem adicionada nos Favoritos com sucesso!');
        } else {
          alert('Houve um erro ao adicionar aos Favoritos!');
        } {% endcomment %}
      },
      error: function (retorno) {
        console.log('erro');
      }
    });

    
    fecha_modal()
  }

</script>

{% endblock %}
